*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button:focus {
  outline: 0;
}

div {
  display: inline-block;
}

html { 
  background-color: #F4F3F2;
}

.App {
  text-align: center;
  width: 100vw;
}

.body{
  display: flex;
  justify-content: space-around;
}

.map {
  width: 600px;
  height: 500px;
  border: 2px solid #7AA0DB;
  display: inline-block;
}

.location-card {
  background-color: #F4F3F2;
  margin-bottom: 10px;
  display: block;
  color: #2F5F96;
  padding-bottom: 22px;
}

.favorite-button {
  float: right;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  /* margin-bottom: 20px; */
  color: #2F5F96;
}

/* .favorite-button-selected {
  color: #f7f121;
} */

.favorite-button:hover {
  color: #7AA0DB;
}

.favorite-card {
  background-color: #7AA0DB;
}

.header-section {
  background-color: #2F5F96;
  color: #f7f121;
  padding: 20px 0 30px 0;
  display: block;
  margin-bottom: 14px;
}

.location-list,
.loading-screen {
  display: inline-block;
  border: 2px solid #7AA0DB;
  width: 300px;
  background-color: #2F5F96;
  color: #F4F3F2;
  padding: 10px;
  height: 530px;
  overflow: scroll;
}


.login-logout {
  display: block;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.login-logout-button,
.show-favorites-button {
  color: #F4F3F2;
  font-size: 14px;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.login-logout-button:hover,
.show-favorites-button:hover {
  color: #f7f121;
  font-size: 16px;
}

.show-favorites-button {
  float: right;
  margin-right: 10px;
}

.card-header {
  background-color: #7AA0DB;
  color: #F4F3F2;
  width: 100%;
  margin-bottom: 6px;
}

.favorite-card-header {
    /* background-color: #7AA0DB; */
    color: #f7f121;
}

.show-more {
  display: block;
  background-color: #7AA0DB;
  color: #F4F3F2;
  padding: 10px;
  border-radius: 0;
  font-size: 14px;
  align-self: center;
  border: none;
  margin-top: 10px;
}

.show-more:hover {
  background-color: #2F5F96;
  color: #f7f121;
}

.location-list-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beer-loading {
  margin-top: 120px;
  width: 260px
}

.loading-text {
  margin-top: 20px;
  font-weight: bold;
}

