*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

div {
  display: inline-block;
}

html { 
  background-color: #F4F3F2;
}

.App {
  text-align: center;
  width: 100vw;
}

.body{
  display: flex;
  justify-content: space-around;
}

.map {
  width: 600px;
  height: 500px;
  border: 2px solid #7AA0DB;
  display: inline-block;
}

.location-card {
  background-color: #F4F3F2;
  margin-bottom: 10px;
  display: block;
  color: #2F5F96;
  padding-bottom: 6px;
}

.favorite-card {
  background-color: #7AA0DB;
}

.header-section {
  background-color: #2F5F96;
  color: #f7f121;
  padding: 20px 0;
  display: block;
}

.location-list {
  display: inline-block;
  border: 2px solid #7AA0DB;
  width: 300px;
  background-color: #2F5F96;
  padding: 10px;
  height: 500px;
  overflow: scroll;
}

.login-logout {
  display: block;
}

.card-header {
  background-color: #7AA0DB;
  color: #F4F3F2;
  width: 100%;
  margin-bottom: 6px;
}

.favorite-card-header {
    /* background-color: #7AA0DB; */
    color: #f7f121;
}