*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

button:focus {
  outline: 0;
}

div {
  display: inline-block;
}

html { 
  background-color: #F4F3F2;
}

h5 {
  max-width: 200px;
  margin: 0 auto;
}

.App {
  text-align: center;
  width: 100vw;
  background-image: url(../../Assets/lost-in-the-crowd.jpg);
  min-height: 100vh;
  
}

.body{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.map {
  width: 600px;
  height: 500px;
  border: 2px solid #808589;
  display: inline-block;
}

.location-card {
  background-color: rgba(244, 243, 242, 0.792);
  margin-bottom: 10px;
  display: block;
  color: #111214;
  padding-bottom: 22px;
  height: 156px;
  overflow: hidden;
  position: relative;
}

.location-card-ext {
  height: auto;
}

.favorite-button {
  float: right;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  /* margin-bottom: 20px; */
  color: #dcd727;
  font-weight: bold;
  position: absolute;
  right: 4px;
  top: 4px;
}

/* .favorite-button-selected {
  color: #f7f121;
} */

.favorite-button:hover {
  color: #808589;
}

.favorite-card {
  background-color: #808589;
}

.header-section {
  background-color: #11121495;
  color: #dcd727;
  padding: 20px 0 30px 0;
  display: block;
  /* margin-bottom: 14px; */
}

.location-list,
.loading-screen {
  margin-top: 14px;
  display: inline-block;
  border: 2px solid #808589;
  width: 400px;
  background-color: #11121499;
  color: #F4F3F2;
  padding: 10px;
  height: 500px;
  overflow: scroll;
}

.loading-screen {
  color: #111214;
  background-color: #FFF
}

.login-logout {
  display: block;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.login-logout-button,
.show-favorites-button {
  color: #F4F3F2;
  font-size: 14px;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.login-logout-button:hover,
.show-favorites-button:hover {
  color: #dcd727;
  font-size: 16px;
}

.show-favorites-button {
  float: right;
  margin-right: 10px;
}

.card-header {
  background-color: #111214;
  color: #F4F3F2;
  width: 100%;
  margin-bottom: 6px;
}

.favorite-card-header {
    /* background-color: #808589; */
    background-color: #dcd727;
    color: #111214;
}

.show-more {
  display: block;
  background-color: #F4F3F299;
  color: #111214;
  padding: 10px;
  border-radius: 0;
  font-size: 14px;
  align-self: center;
  border: 2px solid #111214;
  margin-top: 10px;
  font-weight: bold;
}

.show-more:hover {
  color: #111214;
  background-color: #dcd727;
}

.location-list-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beer-loading {
  margin-top: 120px;
  width: 260px
}

.loading-text {
  margin-top: 20px;
  font-weight: bold;
}

a {
  color: #1f1e06;
}

.form-header {
  width: 100%;
}

/* td {
  width: 33%;
}

th {
  width: 33%;
} */

th,
td,
table {
  border: 2px solid black;
  padding: 2px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

.directions {
  margin-bottom: 6px;
}




